iframe {
    position: fixed;
    left: 34%;
    top: 10%;
}

button {
    padding: 20px;
    border: none;
    background-color: #ff0000;
    color: white;
    font-family: "Calibri";
    font-weight: bold;
    font-size: 20px;
    border-radius: 25px;
    position: fixed;
    left: 42.5%;
    top: 90%;
}

h1 {
    font-family: "Calibri";
    font-weight: bold;
    font-size: 20px; 
    text-align: center;
}